<style>
  @import url(//fonts.googleapis.com/css?family=Roboto:400,500,700);
  html {
    margin:0 auto 0 auto;
    width:320px;
    font-family: Impact, fantasy;
    font-size:18px;
    background-image:"https://codeavengers.com/images/textures/light10.png";
  }
  ul {
    list-style-image:"https://codeavengers.com/images/icons/icon2.png";
  }
  img {
    border:10px groove gray;
  }
  h1,
  h2, 
  Footer,
  a,{
    font-family: 'Roboto', sans-serif;
    color:darkBlue;
  }
  h1 {
    font-size:25px;
    text-shadow:4px 4px 5px red,
    8px 8px 8px blue;
  }
  footer,
  h1,
  h2 {
    width:320px;
    margin: 0 auto 0 auto
    margin-bottom:10px;
    text-align: center;
    border:5px groove gray;
  }
  a:hover {
    color:green;
  }
  h1,
  footer {
    position: bottom:0px;right:0px;left:0px;
  }
  img {
    image-orientation: from-image;
  }
  content {
  max-width: 500px;
  margin: auto;
  }
</style>
